<div class="container bg-dark p-3 rounded-3">
  <h2 class="m-2">_your lists</h2>
  <div>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-secondary m-3" %>
  </div>
  <div class="container row justify-content-between gap-1 w-100">
    <% @lists.each do |l| %>
      <div class="card col-3 rounded-2 text-bg-tertiary d-flex flex-column justify-content-between">
        <div>
          <% if l.picture.attached? %>
            <%= cl_image_tag l.picture.key, width: 240, height: 200, crop: :auto %>
          <% else %>
            <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
          <% end %>
        </div>
        <div>
          <h4 class="my-3"><%= l.name %></h4>
          <ol>
            <% l.movies[0..4].each do |m| %>
              <li><%= m.title %></li>
            <% end %>
            <span>. . .</span>
          </ol>
        </div>
        <%= link_to 'See more...', list_path(l), class: "btn btn-secondary mb-2" %>
      </div>
    <% end %>
  </div>
</div>
