<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="text-bg-primary">
    <nav class="d-flex">
      <div class="text-center align-self-center">
        <%= link_to "_movie_night", lists_path, class: "jacquard-24-regular p-3 title" %>
      </div>
    </nav>
    <%= yield %>
    <footer class="text-center m-3">
      <span>Coded with [heart] by Damien</span>
    </footer>
  </body>
</html>
