<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="text-bg-primary">
    <div class="text-center">
      <h1 class="jacquard-24-regular p-3">_movie_night</h1>
    </div>
    <%= yield %>
    <footer class="text-center m-3">
      <span>Coded with [heart] by Damien</span>
    </footer>
  </body>
</html>
